.flex-container{
    display:flex;
    flex-wrap:wrap;
}

figure {
    width: 160px;
    height: 240px;
    margin: 5px;
}

.grid-item{
    width:100%;
    background-color: red;
}
.grid-item:nth-child(2n){
    background-color: #bd4242;
}

.grid-container{
    display:grid;
    width: 700px; 
    height: 500px;
    margin: 0 auto;
    row-gap:10px; 
    column-gap:10px;
}

#item1 {
    grid-column:1/2;
    grid-row:1/2;
}
#item2 {
    grid-column:2/4;
    grid-row:1/3;
}
#item3 {
    grid-column:4/6;
    grid-row:1/2;
}
#item4 {
    grid-column:1/2;
    grid-row:2/3;
}
#item5 {
    grid-column:4/6;
    grid-row:2/3;
}
#item6 {
    grid-column:1/2;
    grid-row:3/4;
}
#item7 {
    grid-column:2/3;
    grid-row:3/4;
}
#item8 {
    grid-column:3/4;
    grid-row:3/4;
}
#item9 {
    grid-column:4/5;
    grid-row:3/4;
}
#item10 {
    grid-column:5/6;
    grid-row:3/4;
}